################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ONESTOPEVENTS/FileContentIndex/b18ed20f-7c38-4729-a7c8-7f6eb4d1a834.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/fd13287a-784c-460f-872a-cc74c305d0c2.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/b7661665-db9e-4c5a-9e44-4b3a1673a8fc.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/dd1053f8-c9a3-4cf0-8179-c31f5f71faa0.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/06f2cd3b-cf7e-4439-9464-807b045bc163.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/83b0f614-a5dd-46ad-8ed6-e539782a1921.vsidx
/.vs/cmpg223/v17/DocumentLayout.backup.json
/.vs/ONESTOPEVENTS/FileContentIndex/8ab5e5c4-780e-44de-8011-c883942b3d12.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/3ce07f55-2309-4ce9-b317-f1d071051f2e.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/45d8ce7b-c555-44f7-b26b-dd688992df37.vsidx
