################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ONESTOPEVENTS/FileContentIndex/b18ed20f-7c38-4729-a7c8-7f6eb4d1a834.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/fd13287a-784c-460f-872a-cc74c305d0c2.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/b7661665-db9e-4c5a-9e44-4b3a1673a8fc.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/dd1053f8-c9a3-4cf0-8179-c31f5f71faa0.vsidx
