################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ONESTOPEVENTS/FileContentIndex/b18ed20f-7c38-4729-a7c8-7f6eb4d1a834.vsidx
/.vs/ONESTOPEVENTS/FileContentIndex/fd13287a-784c-460f-872a-cc74c305d0c2.vsidx
